* {
    margin: 0;
    padding: 0;
}
body {
    background-color:gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.corpo {
    background-color:#9FD9C0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 590px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


}
.bmo {
    width: 300px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    background-color: #C4E1C3; /* Adjust color as needed */
    border-radius: 15%;
    position: absolute;
    top: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow:hidden ;
}

.bmo img {
    width: 150%;
    margin-top: 20px;
    margin-left: -50px;
}
/*#olho2{
	position:absolute;
	top:50px;
	left:70px;
	width:20px;
	height:30px;
	background-color:#090C08;
	border-radius:100%;
}
#olho1 {
    width: 20px; 
    height: 30px;
    position:absolute;
    left:210px;
    top:50px;
    animation:infinite;
    animation-name:olho1;
    animation-duration:5s;
    background-color: black;
    border-radius: 100%;
}
@keyframes olho1{
	0%{transform:rotatex(0);}
	
	100%{transform:rotatex(360deg);}

}
@keyframes olho2{
	0%{transform:rotatex(0);}
	100%{transform:rotatex(360deg);}
}

#boca {
	position:absolute;
	top:150px;
	left:80px;
	width:140px;
	height:3px;
	background-color:#090C08;
}



*/

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.entrada {
    width: 210px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-color: #154334; /* Adjust color as needed */
    border-radius: 7%;
    position: absolute;
    top: 270px;
    left:540px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.entradabtn {
    border-radius: 100%;
	position:absolute;
	box-shadow:1px 4px #192970;
	top:270px;
	left: 790px;
    width: 25px; /* Adjust the width as needed */
    height: 25px; /* Adjust the height as needed */
    background-color: #2B3C8C; /* Adjust color as needed */

}
.botoes  {
	position:absolute;
	left:890px;
	top:30px;
}
.analogico {
	position:absolute;
	left:490px;
	top:30px;
}

.triangulo {
  position:absolute;
  top:320px;
  right:110px;
  border-radius:7px;
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid #79CED8;
  filter: drop-shadow(7px 5px 0px #416B6F);
}
.triangulo:active {
	filter: drop-shadow(0px 0px 0px );
	transform:translatey(6px);
}
.quadrado {
	border-radius: 100%;
	position:absolute;
	box-shadow:3px 6px #3D6422;
	top:340px;
	right: 48px;
    width: 25px; /* Adjust the width as needed */
    height: 25px; /* Adjust the height as needed */
    background-color: #72C340; /* You can change the background color */
}
.quadrado:active {
	box-shadow:none;
	transform:translatey(6px);
}
.circulo {
	border-radius: 50px;
	position:absolute;
	top:379px;
	box-shadow:3px 6px #702035;
	right: 80px;
    width: 55px; /* Adjust the width as needed */
    height: 55px; /* Adjust the height as needed */
    background-color: #ED2B67; /* You can change the background color */
}
.circulo:active {
	box-shadow:none;
	transform:translatey(6px);
}




.analogico #centro {
	border-radius: 5px;
	position:absolute;
	top:356px;
	left: 55px;
	box-shadow:0px 0px #7E7621;
	width: 29px; /* Adjust the width as needed */
	height: 29px; /* Adjust the height as needed */
	background-color: #F4E726; /* You can change the background color */
}
.analogico #direita {
	border-radius: 5px;
	position:absolute;
	top:360px;
	left: 75px;
	box-shadow:3px 6px #7E7621;
	width: 35px; /* Adjust the width as needed */
	height: 20px; /* Adjust the height as needed */
	background-color: #F4E726; /* You can change the background color */
}
.analogico #direita:active {
	box-shadow:none;
	transform:translatey(6px);
}
.analogico #esquerda {
	border-radius: 5px;
	position:absolute;
	top:360px;
	left: 30px;
	box-shadow:3px 6px #7E7621;
	width: 30px; /* Adjust the width as needed */
	height: 20px; /* Adjust the height as needed */
	background-color: #F4E726; /* You can change the background color */
}

.analogico #esquerda:active {
	box-shadow:none;
	transform:translatey(6px);
}

.analogico #cima {
	border-radius: 5px;
	position:absolute;
	top:330px;
	left: 60px;
	box-shadow:3px 6px #7E7621;
	width: 20px; /* Adjust the width as needed */
	height: 30px; /* Adjust the height as needed */
	background-color: #F4E726; /* You can change the background color */
}
.analogico #cima:active {
	box-shadow:none;
	transform:translatey(6px);
}


.analogico #baixo {
	border-radius: 5px;
	position:absolute;
	top:375px;
	left: 60px;
	box-shadow:3px 6px #7E7621;
	width: 20px; /* Adjust the width as needed */
	height: 35px; /* Adjust the height as needed */
	background-color: #F4E726; /* You can change the background color */
}
.analogico #baixo:active {
	box-shadow:none;
	transform:translatey(6px);
}

.sons {
    position: absolute;
    margin-left:-300px;
    margin-top: 430px;
}

.som {
    width: 50px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    background-color: #2B3C8C; /* Adjust color as needed */
    border-radius: 10%;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.som2 {
    width: 50px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    background-color: #2B3C8C; /* Adjust color as needed */
    border-radius: 10%;
    position: absolute;
    margin-left: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
	background-color:transparent;
	border:none;
}