body {
    background-color:#9FD9C0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#olho2{
	position:absolute;
	top:50px;
	left:70px;
	width:20px;
	height:30px;
	background-color:#090C08;
	border-radius:100%;
}


#olho1 {
    width: 20px; /* Adjust size as needed */
    height: 30px;
    position:absolute;
    left:210px;
    top:50px;
    animation:infinite;
    animation-name:olho1;
    animation-duration:5s;
    background-color: black; /* Adjust color as needed */
    border-radius: 100%;
}

@keyframes olho1{
	0%{transform:rotatex(0);}
	
	100%{transform:rotatex(360deg);}

}

#olho2 {
    width: 20px; /* Adjust size as needed */
    height: 30px;
    position:absolute;
    left:70px;
    top:50px;
    animation:infinite;
    animation-name:olho1;
    animation-duration:5s;
    background-color: black; /* Adjust color as needed */
    border-radius: 100%;
}

@keyframes olho2{
	0%{transform:rotatex(0);}
	
	100%{transform:rotatex(360deg);}

}

#boca {
	position:absolute;
	top:150px;
	left:80px;
	width:140px;
	height:3px;
	background-color:#090C08;
}
.bmo {
    width: 300px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    background-color: #C4E1C3; /* Adjust color as needed */
    border-radius: 15%;
    position: absolute;
    top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.menu {
    width: 250px;
    position:absolute;
    top:-40px;
    left:10px;
    margin: 50px auto;
    background-color: #000;
    border: 3px solid #999;
    border-radius: 15%;
    padding: 10px;
    box-shadow: 0 0 5px #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 16px;
    margin: 5px 0;
}
@font-face {
  font-family: 'Common Pixel';
  src: url('../Fonts/Pixel_font.ttf') format('truetype');
}
a {
    color: green;
    font-family: 'Common Pixel';
    text-decoration: none;
    display: block;
}



a:hover {
    color: #fff;
}

/* Pixel font */
@import url('https://fonts.cdnfonts.com/css/common-pixel');
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/


.triangulo {
  position:absolute;
  top:320px;
  right:110px;
  border-radius:7px;
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid #79CED8;
  filter: drop-shadow(7px 5px 0px #416B6F);
  
}
.triangulo:active {
	filter: drop-shadow(0px 0px 0px );
	transform:translatey(6px);
}
.entrada {
    width: 210px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-color: #154334; /* Adjust color as needed */
    border-radius: 7%;
    position: absolute;
    top: 250px;
    left:30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.quadrado {
	border-radius: 100%;
	position:absolute;
	box-shadow:3px 6px #3D6422;
	top:340px;
	right: 48px;
    width: 25px; /* Adjust the width as needed */
    height: 25px; /* Adjust the height as needed */
    background-color: #72C340; /* You can change the background color */
}
.quadrado:active {
	box-shadow:none;
	transform:translatey(6px);
}

.circulo {
	border-radius: 50px;
	position:absolute;
	top:379px;
	box-shadow:3px 6px #702035;
	right: 80px;
    width: 55px; /* Adjust the width as needed */
    height: 55px; /* Adjust the height as needed */
    background-color: #ED2B67; /* You can change the background color */
}
.circulo:active {
	box-shadow:none;
	transform:translatey(6px);
}
.analogico {
	position:absolute;
	left:20px;
	top:-10px;
}
.analogico #centro {
	border-radius: 5px;
	position:absolute;
	top:356px;
	left: 55px;
	box-shadow:0px 0px #7E7621;
	width: 29px; /* Adjust the width as needed */
	height: 29px; /* Adjust the height as needed */
	background-color: #F4E726; /* You can change the background color */
}

.analogico #direita {
	border-radius: 5px;
	position:absolute;
	top:360px;
	left: 75px;
	box-shadow:3px 6px #7E7621;
	width: 35px; /* Adjust the width as needed */
	height: 20px; /* Adjust the height as needed */
	background-color: #F4E726; /* You can change the background color */
}
.analogico #direita:active {
	box-shadow:none;
	transform:translatey(6px);
}
.analogico #esquerda {
	border-radius: 5px;
	position:absolute;
	top:360px;
	left: 30px;
	box-shadow:3px 6px #7E7621;
	width: 30px; /* Adjust the width as needed */
	height: 20px; /* Adjust the height as needed */
	background-color: #F4E726; /* You can change the background color */
}

.analogico #esquerda:active {
	box-shadow:none;
	transform:translatey(6px);
}

.analogico #cima {
	border-radius: 5px;
	position:absolute;
	top:330px;
	left: 60px;
	box-shadow:3px 6px #7E7621;
	width: 20px; /* Adjust the width as needed */
	height: 30px; /* Adjust the height as needed */
	background-color: #F4E726; /* You can change the background color */
}
.analogico #cima:active {
	box-shadow:none;
	transform:translatey(6px);
}


.analogico #baixo {
	border-radius: 5px;
	position:absolute;
	top:375px;
	left: 60px;
	box-shadow:3px 6px #7E7621;
	width: 20px; /* Adjust the width as needed */
	height: 35px; /* Adjust the height as needed */
	background-color: #F4E726; /* You can change the background color */
}
.analogico #baixo:active {
	box-shadow:none;
	transform:translatey(6px);
}


.som {
    width: 50px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    background-color: #2B3C8C; /* Adjust color as needed */
    border-radius: 10%;
    position: absolute;
    top: 480px;
    left:40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.som2 {
    width: 50px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    background-color: #2B3C8C; /* Adjust color as needed */
    border-radius: 10%;
    position: absolute;
    top: 480px;
    left:100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
	background-color:transparent;
	border:none;
}
